.product-card {
  background-position: $white;
  border: 1px solid grey;
}

.product-card__name {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.product-card__status {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $company-color;
}

.product-card__description {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color: $text-color;
}

.product-card__features-list {
  margin: 30px 0;
  width: 100%;
}

.product-card__features-line {
  border-bottom: 1px solid $light-grey;
}

.product-card__features-name,
.product-card__features-value {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: $text-color;
  padding: 12px 0;
  border-bottom: 1px solid $light-grey;
}

// .product-card__image {
// }

.product-card__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.product-card__button {
  display: block;
  text-transform: uppercase;
}
