$header-color: #ffffff;
$footer-color-bg: #f1f1f1;

$text-color: #444444;

$light-grey: #ececec;

$article-icon: #3bb09d;
$article-color: #63d1bb;

$white: #ffffff;
$black: #000000;


$icon-video: #63d1bb;

$icon-color: #d3d2d2;
$icon-color-hover: $icon-video;
