@import "color.scss";

.page-footer {
  background-color: $footer-color-bg;
  padding: 30px;
}

.page-footer__social {
  margin: 0 auto;
  text-align: center;
}

.page-footer__copyright {
  margin: 0 auto;
  text-align: center;
}
